
$Black: hsl(0, 0%, 0%);
$Dark-Gray: hsl(0, 0%, 55%);
$Very-Dark-Gray: hsl(0, 0%, 41%);
$font-primary: 'Alata', sans-serif;
$font-secondary:'Josefin Sans', sans-serif;

//header//

header{
    @include flexCenter;
    background: transparent;
    padding: 20px;
    position: relative;
    z-index: 100;

    @include mq(600px){
        justify-content: space-between;
    }

    .burger{
        color: whitesmoke;
        font-size: 1.6rem;
        display: none;

        @include mq(600px){
            display: flex;
            cursor: pointer;

        }
    }
    
    .cross{
        position: absolute;
        top: 14px;
        right: 22px;
        font-size: 1.8rem;
        color: white;
        display: none;
        
        
    }
    .nav-brand{
        justify-self: left;
        width: 50%;

        h1{
            color: white;
            font-size: 1.4rem;
            z-index: 100000;
        }
    }

    .navlist{
        @include flexCenter;
        justify-content:flex-start;
        list-style: none;
        width: 50%;

        
        

        @include mq(600px){
            flex-direction: column;
            position: absolute;
            align-items: center;
            width: 100%;
            height: 100vh;
            top:0px;
            left: 0;
            right: 0;
            background: black;
            padding: 50px 0px;
            transform: translateY(-1000px);
            transition: transform .3s ease-in-out;
            z-index: -1;
        }
        

        
        li{
            padding: 0px 10px;

            @include mq(600px) {
                margin: 20px 0px;
                padding-top: 55px;
            }
        }
        a{
            text-decoration: none;
            color:white;
            position: relative;
            cursor: pointer;

            @include mq(600px){
                color:white;
            }


            &:hover::after{
                width: 50%;

               
            }
            
            &::after{
                content: '';
                position: absolute;
                left: 15px;
                bottom: -5px;
                right: 0;
                height: 3px;
                width: 0%;
                background-color: white;
                z-index: 1000;
                transition: all .3s ease-in-out;

                @include mq(600px){
                    background-color: black;
                }
            }

        }
    }
}

//x header x//